<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/moment.min.js"></script>
      <script type="text/javascript" src="/public/js/bootstrap-datetimepicker.min.js"></script>
 <link rel="stylesheet" href="/public/css/bootstrap-datetimepicker.min.css" />
     <!--

 <link href="/css/bootstrap.min.css" rel="stylesheet">
 <style>
     body {
         padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
     }
 </style>
Le styles -->
<!--
     <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
     <link href="/css/style.min.css" rel="stylesheet">
     -->
    <!-- -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">




</head>

<body >

{{> menu}}


<div id="content">
    <div class="container">

        {{{body}}}

    </div>

</div> <!-- /content -->

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
-->



{{> footer}}
</body>
</html>
